<div class="pipe-container">
  <div class="page__header">
    <hr class="page__header-line-before">
    <h1>Club Details</h1>
    <hr class="page__header-line-after">
  </div>
  <div class="outer-well">
    <div class="content">
      <%= render 'club_form' %>
    </div>
  </div>
</div>