<div class="container pipe-container">
  <div class="outer-well">
    <div class="content">
      <% if admin_signed_in? %>
        <div class="back-to-admin">
          <%= link_to dashboard_path do %>
            <i class="fa fa-chevron-left"></i>&nbsp;Dashboard
          <% end %>
        </div>
      <% end %>
      <div class="page-header">
        <h1>Create Club</h1>
      </div>
      <%= render 'club_form' %>
    </div>
  </div>
</div>