<tr>
  <td><%= obj.email %></td>
  <td class="text-center"><%= obj.last_sign_in_at.strftime("%-d/%-m/%y") %></td>
  <td class="text-center">
    <li class="list-unstyled dropdown">
      <i class="glyphicon glyphicon-option-vertical" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to "Edit", edit_admin_registration_path(obj) %></li>
        <li>
          <%= link_to "Delete", admin_registration_path(obj), method: :delete, data: 
            {confirm: "Are you sure you want to delete this user?"} %>
        </li>
      </ul>
    </li>
  </td>
</tr>