<div class="content">
  <div class="page-header">
    <h1>Admin Users</h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4>Account details</h4>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="image-table-area">
        <table class="table table-striped articles-table">
          <thead>
            <tr>
              <th>Email</th>
              <th class="text-center">Last Signed In</th>
            </tr>
          </thead>
          <tbody>
            <% @admin_users.each do |user| %>
              <%= render 'admin_table', obj: user %>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to "Create User", new_admin_registration_path, class:"btn btn-md btn-phab" %>
    </div>
  </div>
</div>