@import 'variables';

.sidebar {
  display: flex;
  left: -200px;
  top: 40%;
  z-index: 99999;
  position: fixed;
  transition: all 0.3s ease;
  
  @include media-query($small) {
    left: -0;
    top: auto;
    bottom: -200px;
    width: 100vw;
    flex-direction: column !important;
  }
}

.main-sidebar-block {
  flex: 1;
  // top: 40%;
  // left: -200px;
  // height: 200px;
  width: 200px;
  // z-index: 999;
  // position: fixed;
  transition: all 0.3s ease;
  
  @include media-query($small) {
    height: 200px;
  }
  
  @include media-query($small) {
    order: 2;
    width: 100%;
  }
  
  .contact-block {
    height: 100%;
    min-height: 160px;
    //width: 200px;
    background: $color-primary-green;
    color: white;
    display: none;
    padding: 20px;
    @include media-query($small) {
      display: block;
    }
  }
  
  .address-block {
    height: 100%;
    min-height: 160px;
    //width: 200px;
    background: $color-primary-red;
    color: white;
    display: none;
    padding: 20px;
    @include media-query($small) {
      display: block;
    }
  }
  
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .item {
      color: white;
      @include media-query($small) {
        padding: 0px;
      }
    }
  }
}

.sidebar-open {
  left: 0px;
  background-color: white;
  
  @include media-query($small) {
    bottom: 0px;
  }
}

.icon-bar {
  flex: 1;
  // position: fixed;
  // top: 40%;
  // left: 0;
  // z-index: 9999;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  display: flex;
  max-width: 50px;
  flex-direction: column;
  
  @include media-query($small) {
    flex-direction: row !important;
    max-width: none;
  }
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 14px;
  transition: all 0.3s ease;
  color: white;
  font-size: 12px;
  // height: 50px;
  flex: 1;
  
  &:hover, &:focus {
    color: white !important;
  }
}

/* Style the social media icons with color, if you want */
// .icon-bar a:hover, .icon-bar a:focus {
//   background-color: #000;
//   color: white;
// }

.contact-btn {
  background: $color-primary-green;
  color: white;
}

.address-btn {
  background: $color-primary-red;
  color: white;
}

.facebook-btn {
  background: #3b5998;
  color: white;
}

.twitter-btn {
  background: #00aced;
  color: white;
}

.donate-btn {
  background: $color-primary-orange;
  color: white;
}

// .leader-block {
//     width: 200px;
//     height: 150px;
//     background-color: $color-primary-green;
//     position: fixed;
//     top: 50%;
//     left: -200px;
//     -webkit-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     transform: translateY(-50%);
//     z-index: 9999;
    
//     &.open {
//         left: 0px;
//     }
// }

// .date-time-block {
//     width: 200px;
//     height: 150px;
//     background-color: $color-primary-blue;
//     position: fixed;
//     top: 50%;
//     left: -200px;
//     -webkit-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     transform: translateY(-50%);
//     z-index: 9999;
    
//     &.open {
//         left: 0px;
//     }
// }

// .icon-bar {
//   position: fixed;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
//   z-index: 9999;
//   transition: all .2s !important;
  
//   &.open {
//       left: 200px;
//   }
// }

// /* Style the icon bar links */
// .icon-bar a {
//   display: block;
//   text-align: center;
//   padding: 14px;
//   transition: all 0.3s ease;
//   color: white;
//   font-size: 12px;
//   height: 50px;
// }

// /* Style the social media icons with color, if you want */
// .icon-bar a:hover {
//   background-color: #000;
//   color: white;
// }

// .icon-bar a:focus {
//   color: white;
// }

// .facebook {
//   background: $color-primary-green;
//   color: white;
// }

// .twitter {
//   background: $color-primary-purple;
//   color: white;
// }

// .google {
//   background: #dd4b39;
//   color: white;
// }

// .linkedin {
//   background: #007bb5;
//   color: white;
// }

// .youtube {
//   background: $color-primary-red;
//   color: white;
// }

// .sidebar-block {
    
// }