<div class="pipe-container">
    <div class="page__header">
        <hr class="page__header-line-before">
        <h1>Latest Club News</h1>
        <hr class="page__header-line-after">
    </div>
    <div class="outer-well">
        <div class="content">
            <% @news_pages.each_with_index do |news, i| %>
                <%= render partial: "article_list", locals: {obj: news} %>
                <% if @news_pages.size - 1 != i %>
                    <hr class="article-separator">
                <% end %>
            <% end %>
        </div>
    </div>
</div>