<div class="pipe-container">
    <div class="well">
        <div class="page-header">
          <h1>Edit Picture</h1>
        </div>
        <%= render 'form' %>        
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    
    $(function () {
      $('#make_default').click(function(event) {
        event.preventDefault();
        $.ajax({
          url: '<%= make_default_gallery_picture_path %>',
          type: 'POST',
          data: {id : <%= @picture.id %>, gallery_id : <%= @gallery.id %>}
        });
      });
    });
</script>