<div class="container pipe-container">
  <div class="outer-well">
    <div class="content">
      <% if admin_signed_in? %>
        <div class="back-to-admin">
          <%= link_to dashboard_path do %>
            <i class="fa fa-chevron-left"></i>&nbsp;Dashboard
          <% end %>
        </div>
      <% end %>
      <div class="page-header">
        <h1>Galleries</h1>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h4>Gallery list</h4>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <% if @galleries.blank? %>
            <p class="text-center blank-object">You have no galleries on your site yet!</p>
          <% else %>
            <div class="image-table-area">
              <table class="table articles-table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th class="text-center">Published</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @galleries.each do |gallery| %>
                    <%= render 'gallery_table', gallery: gallery %>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
          <%= link_to "Create gallery", new_gallery_path, class:"btn btn-md btn-phab" %>
        </div>
      </div>
    </div>  
  </div>
</div>