$color-primary-red: #D94240;
$color-secondary-red: #e88d8c;
$color-primary-blue: #3D3976;
$color-secondary-blue: #8a88ac;
$color-primary-green: #56A644;
$color-secondary-green: #99c98e;
$color-primary-orange: #F2A14B;
$color-secondary-orange: #f7c693;
$color-primary-purple: #783580;
$color-secondary-purple: #bb9abf;