.admin {
    height: 100% !important;
    background-color: #fafafa !important;
}

.articles-table {
    width: 100%;
    margin-bottom: 0 !important;
    
    td {
        vertical-align: middle !important;
    }
}

.dashboard-p {
    font-size: 14px !important;
}

.login-page {
    max-width: 600px !important;
}

.club-map {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

.dashboard-row {
    min-height: 150px;
}