$color-primary-red: #8b0000;
$color-primary-green: #54b948;
$color-secondary-pink: #fefbf7;

*,
*::after,
*::before {
    // margin: 0;
    // padding: 0;
    box-sizing: inherit;
}


html {
    // defines what 1rem is
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    
    // @include respond(tab-land) {
    //     font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
    // }
    
    // @include respond(tab-port) {
    //     font-size: 50%; // 1rem = 8px; 8/16 = 50%
    // }
    
    // @include respond(big-desktop) {
    //     font-size: 75%; // 1rem = 12; 12/16 = 75% 
    // }
    
    // height: 3000px;
}

body {
    box-sizing: border-box;
    // background-color: rgba($color-primary-green, .1);
    width: 100%;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-green, 0.1), 
        rgba($color-primary-green, 0.3)), 
    url(assets/images/phab-background-grid.png);
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    margin-top: 160px !important;
    margin-bottom: 100px !important;
    // @include respond(tab-port) {
    //     padding: 0;
    // }
}

li {
    list-style: none;
}

.fancy {
    font-family: 'Homemade Apple', cursive;
}

.no-margin {
    margin: 0 !important;
}

.pipe-container {
    height: 100%;
    margin-left: 15%;
    width: 70%;
    border: 4px solid $color-primary-red;
}

.container {
    background-color: white;
    border-radius: 8px;
}

.alert-notice, .alert-alert, .alert-success, .alert-danger {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 30px;
    width: 30%;
    z-index: 9999;
}

.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flash-container {
  //position: absolute;
}

.well {
    padding: 20px 60px 50px 60px !important;
    margin-bottom: 0 !important;
    background-color: #fafafa !important;
}

a {
    text-decoration: none !important;
}

.blank-object {
    margin: 20px 0;
}

.dropdown-menu {
    min-width: 110px !important;
    position: absolute !important;
}