@import 'variables';

.home__banner {
    height: 500px;
    width: 100%;
    //  background-image: linear-gradient(
    //     to right bottom, 
    //     rgba($color-primary-green, 0.1), 
    //     rgba($color-primary-green, 0.3)), 
    // url(phab-background-grid.png);
    // background-size: cover;
    // background-position: top;
    position: relative;
    
    &-logo {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 160px;
    }

    &-text {
        background-color: rgba($color-primary-green, .6);
        position: absolute;
        top: 60%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        text-align: center;
        padding: 20px 0px;
        &--title {
            color: white;
        }
        
        &--fancy {
            font-family: 'Homemade Apple', cursive;
            color: $color-primary-red;
        }
    }

}

.new-home__banner {
    height: 500px;
    width: 100%;
    //  background-image: linear-gradient(
    //     to right bottom, 
    //     rgba($color-primary-green, 0.1), 
    //     rgba($color-primary-green, 0.3)), 
    // url(phab-background-grid.png);
    // background-size: cover;
    // background-position: top;
    position: relative;
    
    &-logo {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 160px;
    }

    &-text {
        //background-color: rgba($color-primary-green, .6);
        //background-color: rgba($color-primary-orange, .6);
        background-color: rgba(255,255,255,.2);
        position: absolute;
        top: 60%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        text-align: center;
        padding: 20px 0px;
        &--title {
            color: white;
        }
        
        &--fancy {
            font-family: 'Homemade Apple', cursive;
            color: $color-primary-red;
        }
    }

}

.address-title {
    color: $color-primary-green;   
}

.address-line {
    margin-bottom: 5px;
    font-size: 18px;
}
