$color-primary-red: #8b0000;
$color-primary-green: #54b948;
$color-secondary-pink: #fefbf7;

.navbar {
    background-color: $color-secondary-pink !important;
    padding: 0  !important;
    margin: 0 !important;
    width: 100% !important;
    position: fixed !important;
    display: inline !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
    z-index: 100 !important;
    border-bottom: 4px solid rgba($color-primary-green, .2) !important;
    height: 123px;
    
    &__beb-logo {
        display: inline-block !important;
        position: relative !important;
        top: 10px !important;
        left: 20px !important;
        
        &--img {
            width: 100px !important;
            height: 100px !important;
        }
    }
    .container {
        display: block;
        background-color: transparent;
        margin-top: -27px;
    }
    &__links {
        text-align: center;
        width: 90%;
        
        li {
            border-top-left-radius: 8px !important;
            border-top-right-radius: 8px !important;
            display: inline-block !important;
            cursor: pointer !important;
            position: relative !important;
            transition: all .3s !important;
            
            
            &:hover {
                background-color: $color-primary-red !important;
                a  { 
                    text-decoration: none !important;
                    color: white !important;
                }
            }
            
            
            
            a {
                color: $color-primary-red !important;
                text-decoration: none !important;
                font-size: 18px !important;
                font-weight: 600 !important;
                transition: all .3s !important;
                display: block !important;
                text-align: center;
                padding: 10px 30px 10px 30px !important;
                min-width: 150px;
                
                &.active {
                    color: white !important !important;
                }
            }
            
            .dropdown-menu {
                background-color: $color-primary-red;
                padding: 0 !important;
                border-bottom-left-radius: 8px !important;
                border-bottom-right-radius: 8px !important;
                //min-width: -webkit-fill-available;
                width: 250px;
                
                li {
                    display: block !important;
                    color: white !important;
                    font-size: 16px !important;
                    text-align: left !important;
                    //width: auto !important;
                    // padding: 10px !important;
                    width: 100%;
                    
                    a {
                        width: 100%;
                        font-weight: 600 !important;
                        text-decoration: none !important;
                        color: white !important;
                        font-size: 16px !important;
                        text-align: left;
                        padding: 10px;
                        display: block !important;
                        white-space: unset !important;
                        
                        &:hover {
                            text-decoration: none !important;
                            color: $color-primary-red !important;
                            background-color: transparent !important;
                        }
                    }
                    
                    &:hover {
                        background-color: white !important;
                        color: $color-primary-red !important;
                        border-radius: 0 !important;
                        
                        a {
                            color: $color-primary-red !important;
                        }
                    }
                    &:last-child {
                        border-bottom-left-radius: 8px !important;
                        border-bottom-right-radius: 8px !important;
                    }
                }
                
                .nav-separator {
                    height: 1px;
                    margin: 9px 0;
                    overflow: hidden;
                    background-color: white !important;
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }
            
            
            // .ns-dropdown-menu-ns {
            //     display: none;
            //     position: absolute !important;
            //     height: auto;
            //     background-color: rgba($color-primary-red, .9) !important;
            //     border-bottom-left-radius: 8px !important;
            //     border-bottom-right-radius: 8px !important;
            //     top: 40px !important;
            //     left: 0 !important;
            //     width: 100% !important;
                
            //     
            //     }
            // }
            
            
        }
        
        
        li.open {
            background-color: $color-primary-red !important;
            a {
                color: white !important;
            }
        }
    }
    
    &__charity-number {
        display: inline-block;
        float: right;
        position: absolute;
        top: 10px;
        right: 20px;
        
        &--img {
            width: 100px;
            height: 100px;
        }
    }
}

